<h1>Users#show</h1>
<h2>name: <%= @user.name %></h2>
<h2>email: <%= @user.email %></h2>

<div class="col-md-6 col-md-offset-3">
  <h2><%= link_to "name edit", edit_user_path(current_user) %></h2>
  <h2><%= link_to "password email", edit_user_registration_path %></h2>
</div>
