<h1>Home#help</h1>

{
  "nodes": [
    {"id": "Myriel", "group": 1},
    {"id": "Napoleon", "group": 1},
    {"id": "Mlle.Baptistine", "group": 1},
    {"id": "Marguerite", "group": 3},
    {"id": "Mme.deR", "group": 2},
    {"id": "Mme.Hucheloup", "group": 8}],
  "links": [
    {"source": "Napoleon", "target": "Myriel", "value": 1},
    {"source": "Mlle.Baptistine", "target": "Myriel", "value": 8},
    {"source": "Mme.Magloire", "target": "Myriel", "value": 10},
    {"source": "Mme.Hucheloup", "target": "Enjolras", "value": 1}]
}

{
  "nodes":[
    {"id":"user01","group":0},
    {"id":"title(user)","group":1},
    {"id":"title02(user)a","group":3},
    {"id":"title03(user)","group":4},
    {"id":"title04(user)","group":4},
    {"id":"title05(user)","group":1}],
  "links":[
  {"source":"user01","target":"title(user)","value":1},
  {"source":"user01","target":"title02(user)a","value":1},
  {"source":"user01","target":"title03(user)","value":1},
  {"source":"user01","target":"title04(user)","value":1},
  {"source":"user01","target":"title05(user)","value":1}]}
  
