<div class="col-md-6 col-md-offset-3">
  <h1>Post#index</h1>
  <% @posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %></p>
  <% end %>
  <p><%= link_to "post create", new_post_path, class: "btn btn-primary" %></p>
</div>
