<!-- jquery toggleの設定 -->
<script>
  $(function(){
    $("#acMenu dt").on("click", function() {
      $(this).next().slideToggle();
      $(this).toggleClass("active");
    });
  });
</script>

<div class="col-md-6 col-md-offset-3">
  <h1>Post#show</h1>
  <h1><%= @post.title %></h1>
  <h2><%= @post.content %></h2>
  <% if current_user == @post.user  %>
    <h2><%= link_to "postを削除", post_path, method: 'delete',  data: {confirm: "このpostを削除しますか？"} %></h2>
  <% end %>
  <!-- repostの表示 -->
  <%= render 'reposts/reposts' %>
</div>
