#acMenu dt{
  width:200px;
  height:100%;
  line-height:40px;
  text-align:center;
  cursor:pointer;
  transition: all 0.3s;
  &:hover {
    color: #0066CC;
  }
}

#acMenu dd{
  background:#f2f2f2;
  padding: 5px 0 ;
  width:200px;
  height:100%;
  line-height: 25px;
  text-align:center;
  border: silver 1px solid;
  border-radius: 5px;
  display: none;
}

dl {
  display:inline-block;
  float: right;
  margin-bottom: 0px;
}
